/*
blue-#1E96C7
orange-#E8510D
yellow-#F8A818
grey-#484846
black-#000000
white-#FFFFFF
*/

*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
body
{
	font-family: 'Montserrat',Arial;
	font-size: 10px;
}

.navbar
{
	position: fixed;
	background-color: #000000;
	width: 100%;
	height: 4rem;
	z-index: 100;
}
.navbar__logo_box
{
	position: absolute;
	left: 5%;
	display: inline-block;
	width: 4rem;
	height: 4rem;
	
	
	float: left;
	

}
.navbar__logo
{
	width: 80%;
	height: 80%;
	
}
.navbar__links_container
{
	display: inline-block;
	padding: 0;
	margin:0;
	list-style:none;
	float: right;
	margin-right: 4rem;

	
}
.navbar__link_container
{
	
	display: inline;
	

}
.navbar__link
{
	align-content: center;	
	display: inline-block;
	text-align: center;

}
.inline__form
{
  position: absolute;
  right:5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  
}
.inline__form_select_control
{
	margin: 1rem;
	font-size: 1.6rem;
	
	border-style: none;
}
.inline__form_search_control
{
	background-color: #F8A818;
	
	height: 2.8rem;
	width: 2.8rem;
	background-image: url('../img/icons/search.svg');
	background-size: contain;
	margin-top: 0.2rem;

	

}
.container
{
	position: relative;
	height: 100vh;
	width:90%;
	margin: auto;
}
.courses
{
	top:15%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	margin-bottom: 3rem;
	
}
.course__card
{
	height: 20rem;
	width: 20rem;
	
	background-color: #1E96C7;
}
.course__card_image_box
{
	margin-left: 2%;
	margin-top: 2%;

	width: 96%;
	height:70%;
	
}
.course__card_image
{
	width: 100%;
	height: 100%;
	background-repeat: none;
	background-size: contain;
}
.course__card_title_box
{
	width: 100%;
	height: 30%;
	background-color: #484846;
	color: white;
	position: relative;
}
.course__card_title
{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);

	font-size: 1.6rem;
	margin: auto;
	text-align: center;
	overflow:auto;
	align-content: center;
	
}
.course__card:hover
{
	cursor: pointer;
	box-shadow: 3px 1px 5px;
}
.course__card:active
{
	cursor: pointer;
	box-shadow: 1px 1px 5px;
}

.lessons{
	height: 100vh;
	
}
.lessons__title_box{
	
	background-color: #1E96C7;
	width:100%;
	height: 20%;
}
.lessons__Course_title
{
	position: absolute;
	top: 15%;
	left: 2%;
}
.lessons__player
{
	position: absolute;
	top: 22%;
	
	width: 60%;
	height: 70vh;
	background-color: black;
}
#player
{
	width: 100%;
	height: 100%;
}
.lessons__list_box
{
	position: absolute;
	top: 22%;
	height: 70vh;
	width: 35%;
	left: 65%;
	background-color:#F8A818;
	overflow-y: scroll;

}
.lesson__list_box::-webkit-scrollbar {
    
    background-color:#484846; 
    
}
.lesson__list_box::-webkit-scrollbar-thumb {
    background: #F8A818;

}
.lessons__list
{
	width: 100%;
	height: 10%;
	background-color: #484846;
	
	
}
.lessons__title
{
	
	
	margin: 0.2rem;
	text-align: center;
	display:block;
	color: white;
	
}
.lessons__list:hover
{
	cursor: pointer;
	box-shadow: 3px 1px 5px;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: #010101;
  color: #FFFFFF;
}
.footer__container_logo{
	height: 1.2rem;
	padding:0 .8rem;
}
